.category-name {
    text-transform: capitalize;
    color: var(--color-light-1);
    display:inline-block
}
.category-header.container.gradient {
    padding: 0;
    position: relative;
}
.category-header .split {
    display:block;
}
.category-header .left-side {
    max-width: 500px;
    height:250px;
}
.category-header img {
    max-width: 450px;
    display:block;
    margin-left: auto;
    position:absolute;
    right:0;
    top:0;
}
.result-area {
    min-height: 45vh;
}
.list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.results-header {
    color: var(--color-dark-4);
}
.no-results-header {
    color: var(--color-dark-4);
    text-align: center;
}