.order-module .right-side .btn.circle {
    border-radius: 100vh;
    text-align: center;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    width:2rem;
    height:2rem;
    margin:0 0.25rem;
    padding:0;
}
.order-module .right-side .btn.green-outline {
    display: inline;
    padding: 0.4rem;
}