

.account-type-section {
    box-sizing: border-box;
}
.account-type-section .container {
    height:100%;
    box-sizing: border-box;
    min-height: 90vh;
}


.account-type-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.account-selection {
    width:100%;
    max-width: 300px;
    border-radius: 4px;
    text-align: center;
    border:2px solid var(--color-dark-2);
    box-sizing: border-box;
    cursor:pointer;
    transition:border-color 0.15s ease;
    margin:1rem 2rem;
    padding:2rem 1rem;
    color:var(--color-light-1);
}

.account-selection:hover {
    border-color: var(--color-primary);
}

.account-selection h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin:0.75rem 0;
}
.account-selection p {
    color: var(--color-light-4);
}


/* //////////////////////////////////////////// */

.form-section {
    display:grid;
    grid-template-columns: 4fr 5fr;
    min-height: 90vh;
}


.form-section .left-side h1 {
    text-align: center;
    color: var(--color-light-1);

    font-weight: 600;
} 

.form-section .round-img-container {
    width: 250px;
    height: 250px;
    display:block;
    margin:1rem auto;
    border-radius: 400px;
    cursor: pointer;
    box-sizing: border-box;
    overflow:hidden;

}
.form-section .round-img-container img {
    width:100%;
    height:100%;
    box-sizing: border-box;
    object-position: center;
    object-fit: cover;
}
.form-section .image-picker-button {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 300;
    color: var(--color-primary);
    border-radius: 300px;
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    text-align: center;

}


