extends layout
append scripts
    +js("index")

append links
    +css("index")

block content
    div.container.gradient.search-section
        div
            h1.text-white Find the freelance services that you need
            div.search-container
                input(type="text" placeholder="What service are you looking for?").input.search#searchField
                p.text-center.text-white or
                a(href="signup").btn.blue.center Become a Seller
        div
            img(src="", alt="people")