extends layout
append scripts
    +js("index")

append links
    +css("index")

block content
    div.container.gradient.search-section
        div
            h1.text-white Find the freelance services that you need
            div.search-container
                input(type="text" placeholder="What service are you looking for?").input.search#searchField
                p.text-center.text-white or
                a(href="signup").btn.blue.center Become a Seller
        div
            img(src="", alt="people")
    div.container.explore-section
        h2 Explore the marketplace
        div.category-box-container
            each val in ["Design & Art", "Sales & Marketing", "Business & Finance", "Writing & Translation", "Video & Animation", "Audio & Music", "Programming & Tech", "Engineering & Architecture", "Education & Training"]
                a(href=val.replace(" & ", "-").toLowerCase()).category-box
                    img(src="https://via.placeholder.com/100")
                    hr
                    p= val