nav hr {
    background-color: #ccc;
    border:none;
    padding:0;
    height:1px;
    margin:0;
}

.primary-nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 16px; */
    padding:0.25rem 1rem 1px;
    align-items: center;
    box-sizing: border-box;
}
.primary-nav .nav-logo {
    padding: 14px 0;
    text-decoration:none;
    color: var(--color-dark-1);
}
.primary-nav .nav-item {
    padding: 14px 0.75rem;
    box-sizing: border-box;
    text-decoration:none;
    color: var(--color-dark-1);
}
.primary-nav .nav-item:hover {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.secondary-nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.secondary-nav::-webkit-scrollbar {
    display: none;
}

.secondary-nav a {
    text-decoration:none;
    color: var(--color-dark-1);
    padding: 0.5rem;
    white-space: nowrap;
}
.secondary-nav a:hover {
    color: var(--color-primary);
}